.search-bar {
    margin-bottom: 20px;
    margin-top: 50px;
    display: inline-block;
    width: 300px;
    margin-left: 20px;
}

.arrow-direction {
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    font-size: 25px;
    color: #d0ebff;
}

.search-btn {
    display: inline-block;
    margin-left: 15px;
}
